.center-block{
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.todo-box{
    display: block;
    margin-right: auto;
    margin-left: auto;
    background-color:rgb(22, 22, 21);
    height: 600px;
    width: 700px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 5%;
}

h1{
    text-align: center;
    font-family: fantasy;
    font-size: 100px;
    color: rgb(11, 24, 204);
}

input{
    width: 450px;
    height: 40px;
}

ul{
    color: rgb(14, 223, 238);
    margin: 10px 25px;
}

.list{
    height: 35px;
    text-indent: 10px;
    background-color: rgba(122, 50, 200, 0.4);
    border-style: groove;
    margin-top:5px;  
}

.list:hover{
    color:rgb(21, 162, 61);
    background-color: rgba(247, 236, 190, 0.7);
    font-weight: 600;
}

i{
 float: right;
 margin:5px;
}

i:hover{
    color: rgb(15, 62, 230);
    cursor: grabbing;
}

em{
    color:red;
}
.strike {
     text-decoration: line-through;
    
}
.green {
    color: green;
}